body {
  background: #fff;
}
.site-header {
  background: #fff;
}
.main-container {
  padding-top: 100px;
}
.main-container .page-header {
  margin-top: 0px;
}
.main-container .page-header h1 {
  margin: 0;
}
.main-container .cart-container .myCart .row {
  overflow: hidden;
  border-top: 0;
}
.btn-danger {
  background: #ed1c24;
  border: #ed1c24;
}
.btn-danger:hover {
  background: #d51920;
}
.glist-container .col-xs-3 {
  width: 270px;
  padding: 0;
  margin-left: 20px;
  text-align: center;
  float: left;
}
.glist-container .col-xs-3 .gi-image-wrapper {
  width: 200px;
  height: 200px;
  padding: 10px 0;
  margin: 0 auto;
}
.glist-container .col-xs-3 .caption .g-name {
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  margin: 0;
  padding: 0 10px;
  line-height: 30px;
  height: 30px;
  font-size: 16px;
}
.glist-container .col-xs-3 .caption .list-inline {
  height: 25px;
}
.glist-container .col-xs-3 .caption .list-inline .text-danger {
  color: #da2a2a;
}
.glist-container .col-xs-3 .btn-danger {
  background: #ed1c24;
  border-color: #ed1c24;
}
.glist-container .col-xs-3:nth-child(4n+1) {
  margin-left: 0 !important;
}
.shoppingRed {
  background: #ed1c24;
  border-color: #ed1c24;
}
.shoppingRed:hover {
  background: #d51920;
  border-color: #d51920;
}
.shoppingRed:active {
  background: #d51920;
  border-color: #d51920;
}
.shoppingRed:focus {
  background: #d51920;
  border-color: #d51920;
}
