            // 公用版心
            .area {
                width: 1140px;
                // background-color: red;
            }
            
            #wd {
                width: 100%;
                // height: 40px;
                // background-color: rosybrown;
            }
            
            // header头部
            // 导航
            .navigation {
                margin: 0 auto;
                height: 50px;
                background-color: rgb(35, 192, 21);
            }
            
            //banner轮播图
            .banner-big {
                margin: 0 auto;
                height: 500px;
                background-color: rgb(56, 224, 224);
            }
            
            // 
            // row广告
            .row {
                margin: 20px auto 20px;
                height: 180px;
                background-color: rgb(39, 66, 219);
            }
            
            // 明星产品star
            .star {
                margin: 40px auto 20px;
                height: 400px;
                background-color: rgb(198, 26, 221);
            }