.container {
    position: relative
}

.container-fluid .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    margin: 0 auto
}

.index-banner {
    max-height: 790px;
    overflow: hidden;
    margin-top: 50px
}

.index-banner .carousel-indicators li {
    width: 45px;
    height: 4px;
    background: #fff;
    border-radius: 0;
    border: 0
}

.index-banner .carousel-indicators .active {
    background: #ed1c24
}

.index-banner .banner-category {
    height: 500px;
    position: relative
}

.index-banner .banner-category .category-wrapper {
    width: 234px;
    position: relative;
    z-index: 2;
    height: 500px
}

.index-banner .banner-con {
    height: 500px;
    position: absolute;
    top: 0;
    width: 100%
}

.index-banner .site-category-list {
    background: rgba(0, 0, 0, .6);
    height: 100%;
    border: 0;
    color: #fff;
    margin: 0;
    padding: 25px 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.index-banner .site-category-list .category-item .title {
    position: relative;
    display: block;
    padding-left: 30px;
    height: 45px;
    line-height: 45px;
    color: #fff
}

.index-banner .site-category-list .category-item .title i {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 16px;
    line-height: 16px
}

.index-banner .site-category-list .category-item .children {
    display: none;
    position: absolute;
    left: 234px;
    top: 0;
    z-index: 25;
    max-width: 906px;
    height: 500px;
    border: 1px solid #e0e0e0;
    border-left: 0;
    background: #fff;
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, .18);
    box-shadow: 0 8px 16px rgba(0, 0, 0, .18)
}

.index-banner .site-category-list .category-item .children .children-wrapper {
    display: flex
}

.index-banner .site-category-list .category-item .children .children-list {
    width: 100%;
    padding-left: 0
}

.index-banner .site-category-list .category-item .children .children-list li {
    height: 76px
}

.index-banner .site-category-list .category-item .children .children-list li .link {
    display: block;
    padding: 18px 20px;
    line-height: 40px;
    color: #333;
    -webkit-transition: color .2s;
    transition: color .2s;
    width: 226.5px
}

.index-banner .site-category-list .category-item .children .children-list li .link:hover {
    color: #ed1c24
}

.index-banner .site-category-list .category-item-active {
    background-color: #ed1c24
}

.index-banner .site-category-list .category-item-active .children {
    display: block
}

.index-banner #carousel-example-generic {
    height: 100%
}

.index-banner .carousel-inner {
    max-height: 700px;
    height: 100%
}

.index-banner .carousel-inner .item a {
    width: 1920px;
    position: absolute;
    top: 0;
    left: -250px;
    right: 0;
    bottom: 0
}

.index-banner .carousel-indicators {
    z-index: 1
}

.index-banner .carousel-control span {
    opacity: 1;
    position: absolute;
    top: 50%;
    margin-top: -15px
}

.index-banner .carousel-control .glyphicon-chevron-left {
    left: -20px
}

.index-banner .carousel-control .glyphicon-chevron-right {
    right: -20px
}

.home-selling {
    padding-top: 20px;
    padding-bottom: 50px;
    background: #fff
}

// .home-selling .container .row {
//     margin: 0
// }
.home-selling .container .row .col-xs-3 {
    padding: 0;
    width: 270px;
    height: 180px;
    margin-left: 20px
}

.home-selling .container .row .col-xs-3 a {
    display: block
}

.home-selling .container .row .col-xs-3 img {
    width: 100%
}

.home-selling .container .row .col-xs-3 .row {
    margin: 0
}

.home-selling .container .row .col-xs-3 .row .col-xs-2 {
    width: 90px;
    height: 90px;
    text-align: center;
    padding: 0
}

.home-selling .container .row .col-xs-3 .row .col-xs-2 img {
    max-width: 30%
}

.home-selling .container .row .col-xs-3 .row .col-xs-2 a {
    padding: 20px 0 0 0;
    color: #fff;
    display: block;
    width: 90px;
    height: 90px
}

.home-selling .container .row .col-xs-3 .row .col-xs-2 a:hover {
    background: #ee3239;
    transition: all .5s
}

.home-selling .container .row .col-xs-3 .row .col-xs-2:nth-child(odd) {
    background: #f68387
}

.home-selling .container .row .col-xs-3 .row .col-xs-2:nth-child(even) {
    background: #f2555b
}

.home-selling .container .row .col-xs-3:first-child {
    margin-left: 0
}

.home-selling .container .home-star {
    margin-top: 30px
}

.home-selling .container .home-star .cart-top {
    position: relative
}

.home-selling .container .home-star .cart-top h3 {
    font-size: 22px;
    line-height: 50px;
    margin: 0
}

.home-selling .container .home-star .cart-top h3 img {
    margin-right: 5px
}

.home-selling .container .home-star .cart-top .more {
    position: absolute;
    top: 20px;
    right: 0
}

.home-selling .container .home-star .cart-top .more .arrow {
    float: left;
    width: 25px;
    height: 25px;
    border: 1px solid #bcbcbc;
    text-align: center;
    line-height: 25px;
    background: #fff;
    cursor: pointer
}

.home-selling .container .home-star .cart-top .more .arrow span {
    color: #999
}

.home-selling .container .home-star .cart-top .more .arrow:hover {
    border-color: #ff0036
}

.home-selling .container .home-star .cart-top .more .arrow:hover span {
    color: #333
}

.home-selling .container .home-star .cart-top .more .arrNot {
    cursor: no-drop
}

.home-selling .container .home-star .cart-top .more .arrow:first-child {
    margin-right: 5px
}

.home-selling .container .home-star .star-rolling {
    overflow: hidden;
    height: 340px
}

.home-selling .container .home-star .star-rolling .row {
    width: 100000px;
    position: relative
}

.home-selling .container .home-star .star-rolling .row .col-xs-4 {
    background: #f7f7f7;
    text-align: center;
    margin-left: 20px;
    width: 270px;
    height: 340px;
    padding: 25px 10px 10px
}

.home-selling .container .home-star .star-rolling .row .col-xs-4 .figure {
    width: 100%;
    margin: 0 auto 20px
}

.home-selling .container .home-star .star-rolling .row .col-xs-4 .figure a {
    display: block;
    height: 190px
}

.home-selling .container .home-star .star-rolling .row .col-xs-4 .figure a img {
    max-height: 100%
}

.home-selling .container .home-star .star-rolling .row .col-xs-4:nth-child(4n+1) {
    margin-left: 0!important
}

.category .cateHeight {
    height: 1170px;
    overflow: hidden
}

.category .goryHeight {
    height: 810px;
    overflow: hidden
}

.category .television {
    margin-top: 30px
}

.category .television .cate-max img {
    width: 30px;
    height: 30px
}

.category .television .cate-top {
    position: relative
}

.category .television .cate-top h3 {
    font-size: 22px;
    line-height: 50px
}

.category .television .cate-top h3 img {
    margin-right: 5px
}

.category .television .cate-top .more {
    position: absolute;
    top: 20px;
    right: 0
}

.category .television .cate-top .more .more-ul li {
    display: inline-block
}

.category .television .cate-top .more .more-ul li a {
    color: #000;
    margin-right: 4px
}

.category .television .cate-top .more .more-ul li a:hover {
    color: #ff5d59
}

.category .television .cate-top .more .more-ul .aMore {
    color: #ff5b57
}

.category .television .cate-top .more .more-ul .aMore:hover {
    color: #ff0036
}

.category .television .container-fluid {
    padding: 0
}

.category .television .container-fluid .banA {
    display: block
}

.category .television .container-fluid .banW {
    width: 1140px;
    height: 370px
}

.category .television .container-fluid .row {
    margin: 0
}

.category .television .container-fluid .row .col-xs-3 {
    margin-top: 20px;
    background: #fff;
    text-align: center;
    padding: 10px;
    height: 340px;
    width: 262px;
    margin-left: 20px;
    position: relative
}

.category .television .container-fluid .row .col-xs-3 .figure {
    height: 190px;
    width: 100%;
    line-height: 190px;
    margin-bottom: 20px
}

.category .television .container-fluid .row .col-xs-3 .figure a {
    width: 100%
}

.category .television .container-fluid .row .col-xs-3 .figure a img {
    max-height: 100%
}

.category .television .container-fluid .row .col-xs-3 .wrapper {
    background: #000;
    zoom: 1;
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    height: 100px;
    width: 270px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px 15px;
    display: none
}

.category .television .container-fluid .row .col-xs-3 .wrapper p {
    color: #fff;
    margin: 0 0 5px 0;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.category .television .container-fluid .row .col-xs-3 .wrapper .glyphicon {
    color: #ffce23
}

.category .television .container-fluid .row .col-xs-3:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, .2);
    z-index: 2;
    transition: all .5s;
    transform: translate3d(0, -2px, 0)
}

.category .television .container-fluid .row .col-xs-3:first-child {
    margin-left: 0
}

.category .television .container-fluid .row .col-xs-3:nth-child(4n+1) {
    margin-left: 0
}

.category .television .col-xs-3 {
    padding-top: 25px!important
}

.category .television .figure a {
    display: block;
    height: 190px
}

.konka {
    padding-bottom: 50px
}

.konka .new {
    margin-top: 30px
}

.konka .new .cate-top h3 img {
    width: 30px;
    height: 30px;
    margin-right: 5px
}

.konka .new .row {
    margin: 0
}

.konka .new .row .col-xs-3 {
    width: 262px;
    margin-left: 20px;
    padding: 0;
    background: #fff;
    height: 300px
}

.konka .new .row .col-xs-3 a {
    width: 270px;
    // display: block
}

.konka .new .row .col-xs-3 a h4 {
    line-height: 40px;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    color: #333;
    padding: 0 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.konka .new .row .col-xs-3 a .introduce {
    padding: 0 10px;
    font-size: 12px;
    color: #b0b0b0;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 20px;
    text-overflow: -ms-ellipsis-lastline;
    display: -ms-box;
    -ms-line-clamp: 2;
    -ms-box-orient: vertical;
    height: 38px
}

.konka .new .row .col-xs-3 a .reading {
    padding: 0 10px;
    color: #4b98ec;
    font-size: 12px
}

.konka .new .col-xs-3:first-child {
    margin-left: 0
}

.konka .BBS .row .col-xs-3 {
    height: 300px
}

.konka .BBS .row .col-xs-3 a .introduce {
    padding: 0 10px;
    font-size: 12px;
    color: #b0b0b0;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 20px;
    text-overflow: -ms-ellipsis-lastline;
    display: -ms-box;
    -ms-line-clamp: 2;
    -ms-box-orient: vertical;
    height: 38px
}

.konka .BBS .row .col-xs-3 a .reading {
    padding: 0 10px;
    color: #4b98ec;
    font-size: 12px
}

.you {
    margin-bottom: 20px
}

.you .col-xs-3 {
    height: 150px;
    width: 373px;
    display: flex;
    align-items: center;
    background: url(./image/coup.jpg) no-repeat;
    background-size: 100% 100%;
    margin: 0 10px 10px 0;
    position: relative;
    cursor: pointer
}

.you .col-xs-3 .you-left {
    width: 260px;
    text-align: center
}

.you .col-xs-3 .you-left .price {
    font-size: 20px;
    color: #b4a078
}

.you .col-xs-3 .you-left .price span {
    font-size: 16px
}

.you .col-xs-3 .you-left .top {
    font-size: 16px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

.you .col-xs-3 .you-left .time {
    font-size: 12px
}

.you .col-xs-3 .immediately {
    width: 100px;
    text-align: center
}

.you .col-xs-3 .immediately span {
    color: #fff;
    border: 1px solid #b4a078;
    background-color: #b4a078;
    width: 80px;
    height: 28px;
    border-radius: 500px;
    font-size: 14px;
    display: inline-block;
    line-height: 28px
}

.you .col-xs-3:nth-child(3n+2) {
    margin-right: 0
}

.anchor {
    position: fixed;
    left: 0;
    top: 100px
}

.anchor li {
    width: 40px;
    height: 45px;
    background: #888;
    text-align: center;
    border-top: 1px solid #fff;
    transition: all .5s
}

.anchor li a {
    display: block;
    padding: 5px;
    font-size: 12px;
    color: #fff
}

.anchor li:hover {
    background: #ed1c24
}

.anchor li:first-child {
    border-top: 0
}

@keyframes bannermove {
    form {
        transform: translateX(0);
        opacity: 0
    }
    to {
        transform: translateX(200px);
        opacity: 1
    }
}

.satisfaction {
    width: 151px;
    height: 30px;
    background: url(./image/satisfaction.png) no-repeat
}

@media only screen and (min-width:1445px) {
    .index-banner .carousel-inner .item a {
        width: 1920px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0
    }
}