/* 清除浏览器默认样式 */

* {
    margin: 0;
    padding: 0;
}


/* 清除b、strong标签的默认加粗样式 */

b,
strong {
    font-weight: normal;
}


/* 清除i、em标签的默认倾斜样式 */

i,
em {
    font-style: normal
}


/* 清除a、u下划线 */

a,
u {
    text-decoration: none
}


/* 清除列表的默认符号样式 */

ol,
ul,
li {
    list-style: none
}


/* 万能清除法 接触高度塌陷 */

.clear-fix::after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
}

.clear-fix {
    zoom: 1/* 兼容 ie */
}


/* 清除图片在低版本浏览器中的边框 */

img {
    border: none;
    display: block;
    /* 图片居中显示 */
}


/* 清除input点击默认样式 */

input {
    outline: none/* 蓝色的 - 黑色的 */
}