.header {
    width: 1130px;
    height: 80px;
    background-color: #eee;
}

.header h1 {
    width: 1140px;
    text-align: center;
    line-height: 80px;
}

.mer {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.head {
    overflow: hidden;
    background-color: #eee;
    width: 1130px;
    margin: 30px auto 10px;
    line-height: 40px;
    padding-left: 54px;
    font-size: 20px;
}

.head input {
    float: left;
}

.head span:nth-of-type(1) {
    float: left;
    // margin-left: 10px;
}

.head span:nth-of-type(2) {
    float: left;
    margin-left: 70px;
}

.head span:nth-of-type(3) {
    float: left;
    margin-left: 285px;
}

.head span:nth-of-type(4) {
    float: left;
    margin-left: 75px;
}

.head span:nth-of-type(5) {
    float: left;
    margin-left: 105px;
}

.head span:nth-of-type(6) {
    float: left;
    margin-left: 95px;
}

.list {
    margin-top: 5px;
    width: 1200px;
    padding-left: 0;
}

.list li {
    width: 1130px;
    padding: 10px 15px;
    background-color: lightcyan;
    overflow: hidden;
    margin-bottom: 10px;
}

.list li input {
    float: left;
}

.list li .oper {
    float: left;
    width: 80px;
    height: 80px;
}

.list li h3 {
    float: left;
    width: 300px;
    font-size: 14px;
    margin: 10px 0 0 15px;
}

.list li p {
    float: left;
    width: 100px;
    text-align: center;
    margin-left: 50px;
}

.list li span {
    float: left;
    width: 20px;
    text-align: center;
    margin-left: 40px;
}

.list li em {
    float: left;
    width: 50px;
    text-align: center;
    margin-left: 125px;
    cursor: pointer;
    font-style: normal;
    font-size: 18px;
}

.list li em:hover {
    background-color: red;
    color: white;
    transition: 0.5s;
}

.J_jian {
    width: 28px;
    // height: 28px;
    margin-right: 10px;
    border: none;
    font-size: 20px;
    background-color: #fff;
}

.J_jian:hover {
    background-color: red;
}

.J_jia {
    width: 28px;
    // height: 28px;
    margin-left: 10px;
    border: none;
    font-size: 20px;
    background-color: #fff;
}

.J_jia:hover {
    background-color: red;
}

.num {
    width: 60px;
}

.head .allCheck {
    width: 20px;
    height: 20px;
    margin: 10px 15px 0 0;
}

li .checks {
    width: 20px;
    height: 20px;
    margin: 0 15px 0 38px;
}

.price {
    font-size: 18px;
}

.price2 {
    font-size: 18px;
}