.header {
    width: 1130px;
    height: 80px;
    background-color: #eee;
}

.header h1 {
    width: 1140px;
    text-align: center;
    line-height: 80px;
}

.mer {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.head {
    overflow: hidden;
    background-color: #eee;
    width: 1130px;
    margin: 30px auto 10px;
    line-height: 40px;
    padding-left: 54px;
    font-size: 20px;
}

.head input {
    float: left;
    margin-top: 15px;
}

.head span:nth-of-type(1) {
    float: left;
    // margin-left: 10px;
}

.head span:nth-of-type(2) {
    float: left;
    margin-left: 70px;
}

.head span:nth-of-type(3) {
    float: left;
    margin-left: 285px;
}

.head span:nth-of-type(4) {
    float: left;
    margin-left: 90px;
}

.head span:nth-of-type(5) {
    float: left;
    margin-left: 120px;
}

.list {
    margin-top: 5px;
    width: 1130px;
    // margin: 0 auto;
}

.list li {
    padding: 10px 15px;
    background-color: lightcyan;
    overflow: hidden;
    margin-bottom: 10px;
}

.list li input {
    float: left;
}

.list li .oper {
    float: left;
    width: 80px;
    height: 80px;
}

.list li h3 {
    float: left;
    width: 300px;
    font-size: 14px;
    margin: 10px 0 0 15px;
}

.list li p {
    float: left;
    width: 100px;
    text-align: center;
    margin-left: 50px;
}

.list li span {
    float: left;
    width: 20px;
    text-align: center;
    margin-left: 60px;
}

.list li em {
    float: left;
    width: 50px;
    text-align: center;
    margin-left: 120px;
    cursor: pointer;
}