<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>foot</title>
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="./style/foot.css">
</head>

<body>
    <div id="foot">
        <div class="foot">
            <div class="foot-top">
                <img src="./image/sucai/" alt="">
                <p>全场包邮</p>
                <i>全场商品免费送到家</i>
            </div>
            <hr>
            <div class="foot-botton"></div>
        </div>

    </div>
</body>

</html>