<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>康佳-首页</title>
    <link rel="stylesheet" href="./style/index.css">
    <link rel="stylesheet" href="./style/reset.css">
</head>

<body>
    <!-- header头部 -->
    <div id="header">
        <div class="header area"></div>
    </div>

    <!-- navigation导航 -->
    <div id="navigation wd">
        <div class="navigation area"></div>
    </div>

    <!-- banner轮播图 -->
    <div id="banner wd">
        <div class="banner"></div>
    </div>

    <!-- row广告 -->
    <div id="row wd">
        <div class="row area"></div>
    </div>

    <!-- star明星产品 -->
    <div id="star wd">
        <div class="star area">
            <div>1</div>
            <div>2</div>
        </div>
    </div>

    <!-- television电视机块 -->
    <div id="television"></div>

    <!-- Refrigerator冰箱块 -->
    <div class="Refrigerator"></div>

    <!-- washing洗衣机块 -->
    <div id="washing"></div>

    <!-- appliances生活电器块 -->
    <div id="appliances"></div>

    <!-- kitchen厨房电器块 -->
    <div id="kitchen"></div>

    <!-- Hardware智能硬件块 -->
    <div id="Hardware"></div>

    <!-- smart智能家居块 -->
    <div id="smart"></div>

    <!-- superior K迷优品块 -->
    <div id="superior"></div>

    <!-- news康佳新闻块 -->
    <div id="news"></div>

    <!-- community康佳社区块 -->
    <div id="community"></div>

    <!-- base底部导航栏 -->
    <div id="base"></div>

    <!-- copyright版权 -->
    <div id="copyright"></div>

    <!-- foot官网验证块 -->
    <div id="foot"></div>
</body>

</html>