<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>康佳-首页</title>
    <link rel="stylesheet" href="./style/index.css">
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="./style/lun-bo.css">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>

</head>

<body>
    <!-- header头部 -->
    <div id="top">
        <!-- <div class="header area"></div> -->
        <script>
            $('#top').load('./top.html')
        </script>
    </div>

    <!-- navigation导航 -->
    <div id="navigation wd">
        <div class="navigation area"></div>
    </div>

    <!-- banner轮播图 -->
    <div id="banner-big wd">
        <div class="banner">
            <div id="banner">
                <div class="img-wrap">
                    <ul>
                        <li class="item" style="display: block;"><img src="./image/sucai/b1.jpg" /></li>
                        <li class="item"><img src="./image/sucai/b2.jpg" /></li>
                        <li class="item"><img src="./image/sucai/b3.jpg" /></li>
                        <li class="item"><img src="./image/sucai/b4.jpg" /></li>

                    </ul>
                </div>
                <div class="lr-tab">
                    <div class="left btn">
                        ←</div>
                    <div class="right btn">→</div>
                </div>
                <div class="tab-wd">
                    <div class="tab-btn">
                        <ul>
                            <li class="bottom-btn active"></li>
                            <li class="bottom-btn"></li>
                            <li class="bottom-btn"></li>
                            <li class="bottom-btn"></li>

                        </ul>
                    </div>
                </div>


            </div>
        </div>

        <!-- row广告 -->
        <div id="row wd">
            <div class="row area"></div>
        </div>

        <!-- star明星产品 -->
        <div id="star wd">
            <div class="star area">
                <div>1</div>
                <div>2</div>
            </div>
        </div>

        <!-- television电视机块 -->
        <div id="television"></div>

        <!-- Refrigerator冰箱块 -->
        <div class="Refrigerator"></div>

        <!-- washing洗衣机块 -->
        <div id="washing"></div>

        <!-- appliances生活电器块 -->
        <div id="appliances"></div>

        <!-- kitchen厨房电器块 -->
        <div id="kitchen"></div>

        <!-- Hardware智能硬件块 -->
        <div id="Hardware"></div>

        <!-- smart智能家居块 -->
        <div id="smart"></div>

        <!-- superior K迷优品块 -->
        <div id="superior"></div>

        <!-- news康佳新闻块 -->
        <div id="news"></div>

        <!-- community康佳社区块 -->
        <div id="community"></div>

        <!-- base底部导航栏 -->
        <div id="base"></div>

        <!-- copyright版权 -->
        <div id="copyright"></div>

        <!-- foot官网验证块 -->
        <div id="foot"></div>



        <!-- jq轮播图 -->
        <script src="./script/jq-lun.js"></script>
</body>

</html>