<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="./style/index.css">
</head>
<body>
  <h1>网站首页</h1>
  <img src="./image/1.png" alt="">
  <div class="box">
    <h3>box标题</h3>
    <div class="content">
      <p>内容1111</p>
      <p>内容2222</p>
    </div>
    <div class="box-main">box的内容</div>
    <a href="#">百度链接</a>
  </div>

<script src="./script/index.js"></script>
</body>
</html>