<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header头部</title>
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="./style/header.css">
    <!-- <link rel="stylesheet" href="./style/"> -->
    <link rel="stylesheet" href="./font/iconfont.css">
</head>

<body>
    <div id="header">
        <div class="header area">
            <div class="header-left">
                <div class="header-left-li">
                    <ul>
                        <a href="#">
                            <li>康佳新闻</li>
                        </a>
                        <li>|</li>
                        <a href="#">
                            <li>加入康佳</li>
                        </a>
                        <li>|</li>
                        <a href="#">
                            <li>校园招聘</li>
                        </a>
                        <li>|</li>
                        <a href="#">
                            <li>康佳社区</li>
                        </a>
                        <li>|</li>
                        <a href="#">
                            <li>大宗采购</li>
                        </a>
                        <li>|</li>
                        <a href="#">
                            <li>积分商城</li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="header-right">
                <div class="header-right-li">
                    <ul>
                        <a href="#">
                            <li>登录</li>
                        </a>
                        <li>|</li>
                        <a href="#">
                            <li>注册</li>
                        </a>
                    </ul>
                    <p><span class="iconfont icon-B">

                    </span> 购物车(0)
                    </p>


                </div>
            </div>
        </div>
    </div>
</body>

</html>